body{
  background-color: #cedde5;
  font-family: 'Ubuntu Mono', monospace;
}

p, b {
  color: #091B2A;
  padding: 0px 0px;
  margin: 0px;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6{
  color: #091B2A;
  padding: 0px 0px;
  margin: 0px;
}

.bgemph{
  color: #cedde5;
  background-color: #091B2A;
  padding: 10px 20px;
}

#lateral_title{
  text-align: center;
}

a:link, a:visited{
  color: #091B2A;
  text-decoration: underline;
}

.title_box{
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
}

.footer_box{
  margin: auto;
  margin-top: 50%;
  width: 100%;
}

.container{
  margin: auto;
  width: 100%;
}

.main_container{
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 80%;
}

.content_box{
  float: left;
  width:60%;
  display: inline-block;
  margin-right: 1%;
  margin-left: 1%;
}

.lateral_box{
  text-align: left;
  float: left;
  width:18%;
  display: inline-block;
}

.post_box{
  margin-bottom: 1%;
}

img {
    border: 0px solid #ddd;
    border-radius: 0px;
    padding: 0px 0px;
    display: block;
}

.inner{
  margin: 10px 20px;
}
