:root {
  --bg: #cedde5;
  --bf: #cedde566;
  --fb: #091b2a66;
  --fg: #091b2a;
}


body {
  display: flex;
  flex-flow: column nowrap;
  max-width:50em;
  margin: auto;
  font-family: 'Hermit', 'Ubuntu Mono', 'monospace';
  /*margin:  0 auto;*/
  background-color: var(--bg);
  color: var(--fg);
}


a, a:visited{
  text-decoration: underline;
}
a:focus{
  text-decoration: none;
}

header.site-header {
  text-align: right;
  padding: 14px;
}

header.site-header a {
  color: var(--bg);
  text-decoration: none;
  font-size: 2em;
  padding: 10px 20px;
}

nav {
  background-color: var(--fg);
}

nav ul {
  display: flex;
  padding: 0px;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

nav a {
  text-decoration: none;
}
nav a,
nav a:visited {
  padding: .1em;
  color: var(--bf);
}
nav a:hover {
  padding: .1em .8em;
  color: var(--fg);
  background-color: var(--bg);
}
nav li {
	text-align: center;
}


div.page-container {
	display: flex;
	flex-flow: row wrap;
}


div.page-container main {
  min-width: 75%;
}

div.page-container aside {
  min-width: 10em;  /* minimum width of aside */
}

div.page-container main, aside {
	display: flex;
	flex-flow: column nowrap;
	/* flex: flex-grow, flex-shrink flex-basis */
  	flex: 1;
}


header {
  margin: 0px;
  padding: 14px;
  background-color: var(--fg);
  color: var(--bg);
}

header.page-header {
  text-align: center;
  padding: 14px;
}

article {
  margin-bottom: 28px;;
  margin: 7px;
}
article header {
  background-color: var(--fb);
  padding: 14px;
}
article header h1,
article header p {
  margin: 0px;
}
article header h1 {
	color: var(--fg);
}
article header p {
	color: var(--bg);
	text-align: right;
}
article header a,
article header a:visited
article header a:focus {
  text-decoration: none;
  color: inherit
}
article p, h1, h2, h3, h4, h5, h6 {
  margin: 14px;
}


figure {
  margin: 0px;
}

aside img {
  width: 100%;
}

figcaption {
  color: var(--fg);
  text-align: center;
  padding: 14px;
}

aside figcaption {
  background-color: var(--fg);
  color: var(--bg);
}

p {
  margin-left: 14px;
  margin-right: 14px;
  text-align: justify;
}



div .latex {
  display: inline;
  overflow: scroll;
  background: var(--bg);
  padding:0em 15px;
  border: 0;
}

div .latex {
}

span .latex {
  padding:0em 0em;
}

code {
  background: inherit;
  padding: .2em;
}

pre, table {
  background: var(--fg);
  color: var(--bg);
  padding: 14px;
}

pre.clean {
  color: inherit;
  background: inherit;
}

pre {
  display: block;
  overflow: auto;
  margin: 14px 14px;
}

pre code {
  background: none;
}

/* tr:nth-child(even) {background: #091B2A22;} */
th, td {
  padding: .2em 1em;
}

th {
  text-align: center;
  background: #091B2A;
  color: #cedde5;
}


footer {
  text-align: center;
}

footer img {
  max-width: 100%;
}

@media (max-width: 500px) {
    nav ul {
        flex-direction: column;
    }
}
