body{
  background-color: #cedde5;
  font-family: 'Ubuntu Mono', monospace;
}

p, b {
  color: #091B2A;
  padding: 0px 20px;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  color: #091B2A;
  padding: 0px 20px;
}

.bgemph{
  color: #cedde5;
  background-color: #091B2A;
  padding: 10px 20px;
}

a:link{
  color: #507698;
  text-decoration: none;
}

a:visited{
  color: #507698;
  text-decoration: none;
}

.title_box{
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
}

.footer_box{
  margin: auto;
  margin-top: 50%;
  width: 100%;
}

.container{
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 80%;
}

.content_box{
  float: left;
  width:50%;
  display: inline-block;
  margin-right: 1%;
  margin-left: 1%;
}

.lateral_box{
  text-align: center;
  float: left;
  width:24%;
  display: inline-block;
}


.post{
  margin-bottom: 1%;
}
/* navbar */

